<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add post</title>
    <link rel="stylesheet" href="/new.css" />
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="enter name" name="name" /><br>
        <textarea placeholder="enter content" name="comment"></textarea><br>
        <button>submit</button>
    </form>
</body>
</html>