
  .con3 {
    background-color: #666666;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;

}
  
  .online {
    text-align: justify;
    color: white;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 2%;
    height: 600px;
    width: 100%;
    background-color: #666666;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .con5 {
    background-color: #666666;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding-left: 3%;
  }
  
  .box6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666666;
    min-height: 1000px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  

  .box9 img {
    transform: scale(0.8);
    margin-top: -89%;
    border: 20px solid #9B4242;
  }
  
  .box8 {
    background-color: #666666;
    min-height: 300px;
    margin-bottom: 45%;
    color: white;
    text-align: justify;
    padding-right: 10%;
  }
  

.so
{
  background-color: #666666;
  color: white;
  text-align: justify;
  padding-left: 6%;
  margin-top: -32%;

}


.box2
{
    display: flex;           /* Enables Flexbox */
    flex-direction: row;  /* Stacks children vertically */
    height: 20vh;  
}






.container11 {
  padding: 20px;
  background-color: #9B4242;
  margin-top: -40%;

}

h1 {
  color: #fff;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;

  gap: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: #9B4242;
  border: 1px solid white;
  border-radius: 8px; /* This adds curved corners to the button */

}

button:hover {
  background-color: #ff0000;
  color: #fff;
}

.b1
{
  margin-left: 70%;

}
