/* src/components/Header.css */

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #3E3E3E;
  color: white;
}

.text-section {
  max-width: 60%;
}

.text-section h1 {
  font-size: 32px;
  margin: 0;
}

.text-section h2 {
  font-size: 24px;
  margin: 10px 0;
}

.text-section p {
  font-size: 16px;
  margin: 10px 0;
}

.image-section img {
  max-width: 66% ;
  height: auto;
  border: 5px solid #9F3F3F;
}
